<br><br>
<p class=center><%= image_tag("welcome.png", :alt => "welcome icon") %></p>
<h1 class=text-center>GET TO KNOW YOU!</h1>
<p class=text-center>I want to learn just a little about you. A great way to do that is to find out about some of you life goals...dream big!</p>
 <li class=text-center>I would like to know <%= link_to 'where you want to travel', places_path %>.</li>
 <li class=text-center>I also want to know <%= link_to 'something you want to do', things_path %> before you die.</li>
  <p class=text-center>This should be interesting!</p>
